body {
  color: #494242;
  background-color: #2e8c8356;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.29em;
  letter-spacing: 0.03em;
  -webkit-font-smoothing: antialiased;
  text-align: center; }

h3 {
  margin: 0.8em 0;
  font-size: 1.2em;
  font-weight: 600; }

p {
  font-size: 1.2em;
  font-weight: 300; }

.container {
  max-width: 55%;
  margin: 0 auto; }

.line {
  color: #117256;
  font-size: 1.8em;
  font-weight: 800;
  padding: 1em 0;
  display: flex;
  flex-direction: row; }
  .line:after {
    content: "";
    flex: 1;
    border-bottom: #175073 solid;
    margin: auto; }

.circle {
  background-color: #65caff;
  width: 11.3em;
  height: 9.8em;
  margin-left: 1.7em;
  border-radius: 50%;
  border: #175073 solid; }
  .circle img {
    width: 11.375em;
    height: 11.375em;
    position: relative;
    top: -38%; }

.name {
  font-size: 3.5em;
  font-weight: 800;
  text-transform: uppercase;
  color: #117256;
  line-height: 0.825em;
  padding-top: 0.5em; }

.dat {
  padding-top: 0.5em;
  color: rgba(0, 0, 0, 0.61);
  font-size: 1.2em;
  font-weight: 800; }

.code {
  padding-top: 0.85em;
  color: rgba(0, 0, 0, 0.61); }

.buble {
  background-color: #D9525E;
  border: solid #175073;
  border-radius: 0.75em 0.75em 0.75em 0;
  box-shadow: -0.5em 0.5em 0.625em 0.3125em #635e5e2f;
  margin-top: 3.5em;
  padding: 0.8em;
  padding-top: 0;
  text-align: left; }
  .buble h3 {
    font-size: 0, 8em;
    padding-bottom: 0.2em; }

.icons img {
  width: 8em;
  height: 8em; }

.icones li:first-child,
.icones li:last-child {
  padding-top: 2.8em; }

.timeline-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 18.75em; }
  .timeline-wrapper .middle-line {
    position: absolute;
    width: 100%;
    height: 0.3125em;
    top: 50%;
    transform: translateY(-50%);
    background: #175073; }

.box {
  width: 21%;
  position: relative;
  min-height: 18.75em;
  float: right; }
  .box .date {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 3.125em;
    height: 3.125em;
    border-radius: 100%;
    background: #117256;
    border: 0.125em solid #175073; }
  .box .date p {
    color: white;
    margin-top: 0.95em; }
  .box .box-content {
    border-radius: 0.3125em;
    background-color: #D9525E;
    width: 11.25em;
    position: absolute;
    left: -4.8125em;
    padding: 0.9375em;
    border: 0.125em solid #175073; }

.box-content::before {
  content: " ";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 0.625em solid transparent; }

.box-bottom .box-content {
  top: 65%; }
  .box-bottom .box-content::before {
    border-bottom-color: #175073;
    top: -1.25em; }

.box-top .box-content {
  margin-top: 2em; }
  .box-top .box-content::before {
    border-top-color: #175073;
    bottom: -1.25em; }

#skills {
  margin: 0 auto;
  max-width: 60em; }
  #skills h3 {
    text-align: left;
    padding-left: 1em;
    font-size: 1.8em; }
  #skills li {
    position: relative;
    margin-bottom: 3.75em;
    padding-left: .375em; }
    #skills li .bar-cont,
    #skills li .bar {
      position: absolute;
      left: 0;
      content: "";
      padding: 1em .2em;
      border-radius: 2.125em; }
    #skills li .bar-cont {
      bottom: -3.125em;
      width: 100%;
      background-color: #333;
      text-align: right;
      border: solid 0.125em #175073; }
      #skills li .bar-cont .bar {
        top: 0;
        display: inline-block; }
      #skills li .bar-cont .pct {
        position: absolute;
        top: -1.375em;
        right: 0;
        opacity: 0;
        transition: opacity 0.3s linear;
        font-weight: 600;
        font-size: 1.2em; }

.interest h3 {
  margin: 0.8em 0; }

.interest img {
  width: 4.5em; }

.certification img {
  width: 10em;
  height: 14em; }
.certification .opa {
  padding-top: 1em;
  display: inline-block; }
.certification .opa:hover {
  opacity: 0.5;
  transition: 0.5s; }

#overlay {
  background: #00000080;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20; }
  #overlay img {
    margin-top: 2%;
    width: auto;
    height: 80%; }

.contact {
  text-align: left;
  padding-left: 10%;
  margin: 0.8em 0; }
  .contact a {
    text-decoration: none;
    color: #117256;
    font-size: 1.8em;
    font-weight: 800;
    line-height: 1.25em; }
  .contact a:hover,
  .contact a:active {
    color: #ffffffd2;
    background-color: #D9525E;
    padding: 0.02em 0.5em;
    border-radius: 1em; }

#top-grid {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  grid-template-rows: repeat(1, 2fr);
  align-items: center; }
  #top-grid .grid-initials {
    grid-area: 1 / 1 / 3 / 2; }
  #top-grid .buble {
    grid-area: 1 / 2 / 2 / 3; }
  #top-grid .set-icones {
    grid-area: 2 / 2 / 3 / 3; }

.set-icones ul {
  display: grid;
  grid-gap: 1em; }
  .set-icones ul .hi {
    grid-area: 1 / 1 / 2 / 2; }
  .set-icones ul .frendly {
    grid-area: 1 / 2 / 2 / 3; }
  .set-icones ul .motivation {
    grid-area: 1 / 3 / 2 / 4; }
  .set-icones ul .joke {
    grid-area: 1 / 4 / 2 / 5; }
  .set-icones ul .drive {
    grid-area: 2 / 1 / 3 / 2; }
  .set-icones ul .flegma {
    grid-area: 2 / 2 / 3 / 3; }
  .set-icones ul .creative {
    grid-area: 2 / 3 / 3 / 4; }
  .set-icones ul .bye {
    grid-area: 2 / 4 / 3 / 5; }

#bot-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1em;
  padding-bottom: 2em; }

.skill-set {
  grid-area: 1 / 1 / 3 / 2; }

.interest-set {
  grid-area: 1 / 2 / 2 / 3; }

.certification-set {
  grid-area: 1 / 3 / 2 / 4; }

.contact-set {
  grid-area: 2 / 2 / 3 / 4; }

.interest {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr); }

@media (max-width: 1850px) {
  .container {
    max-width: 70%; }

  body {
    background-color: orange; }

  #bot-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1.5em; }

  .skill-set {
    grid-area: 1 / 1 / 2 / 3; }

  .interest-set {
    grid-area: 2 / 1 / 3 / 2; }

  .certification-set {
    grid-area: 2 / 2 / 3 / 3; }

  .contact-set {
    grid-area: 3 / 1 / 4 / 3; } }
@media (max-width: 106.25em) {
  .container {
    max-width: 80%; }

  body {
    background-color: yellow; }

  #overlay img {
    max-width: 42%; }

  #top-grid .grid-initials {
    grid-area: 1 / 1 / 2 / 2; }
  #top-grid .buble {
    grid-area: 2 / 1 / 3 / 2; }
  #top-grid .set-icones {
    grid-area: 3 / 1 / 4 / 2; }

  .circle {
    margin-left: 39%;
    margin-top: 3em; }

  .buble {
    border-radius: 1em;
    max-width: 80%;
    margin: 2em 10%; } }
@media (max-width: 78.125em) {
  body {
    background-color: darkred; }

  #bot-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }

  .skill-set {
    grid-area: 1 / 1 / 2 / 4; }

  .interest-set {
    grid-area: 2 / 1 / 3 / 4; }

  .certification-set {
    grid-area: 3 / 1 / 4 / 4; }

  .contact-set {
    grid-area: 4 / 1 / 5 / 4; } }
@media (max-width: 51.25em) {
  .container {
    max-width: 90%; }

  body {
    background-color: pink; }

  .circle {
    margin-left: 28%; }

  .icones li:first-child,
  .icones li:last-child {
    display: none; }

  .box .box-content {
    width: 9.55em;
    left: -3.6125em;
    padding: 0.3375em; }

  .box-top .box-content {
    margin-top: 3em; }

  .box-top-r .box-content {
    margin-top: 4.25em; } }

/*# sourceMappingURL=style.css.map */
