//CERTIFICATION

 .certification{
    img{
      width:  10em; 
      height: 14em;
    }

    .opa{
      padding-top: 1em;
      display: inline-block;
    }

    .opa:hover{
      opacity: 0.5;
      transition: 0.5s;
    }
      
  }

  //Overlay

  #overlay{
    background: $overlay-color;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;

    img{
      margin-top: 2%;
      width: auto;
      height: 80%;
    }

  }