//SKILLS

  #skills {
    margin: 0 auto;
    max-width: 60em;
  
    h3{
      text-align: left;
      padding-left: 1em;
      font-size: $big-size;
    }

    li {
      position: relative;
      margin-bottom: 3.75em;
      padding-left: .375em;
  
      .bar-cont,
      .bar {  
        position: absolute;
        left: 0; 
        content: "";
        padding: 1em .2em;
        border-radius: 2.125em;
      }
  
      .bar-cont {
        bottom: -3.125em;
        width: 100%;
        background-color: $bar-b-color;
        text-align: right;
        border: solid 0.125em $border-color;

        .bar {
          top: 0;
          display: inline-block;
        }
  
        .pct {
          position: absolute;
          top: -1.375em;
          right: 0;
          opacity: 0;
          transition: opacity 0.3s linear;
          font-weight: $medium-weight;
          font-size: $small-size;
        }

      }

    }  

  }
