//BOTTOM


  //SKILLS

  #skills {
    margin: 0 auto;
    max-width: 960px;
  
    h3{
      text-align: left;
      padding-left: 1em;
      font-size: 1.8em;
    }
    li {
      position: relative;
      margin-bottom: 60px;
      padding-left: 6px;

  
      .bar-cont,
      .bar {  
        position: absolute;
        left: 0;
        height: 5px;  

        content: "";

        padding: 1em 0.2em;
      }
  
      .bar-cont {
        bottom: -50px;
        width: 100%;
        background-color: #333;
        text-align: right;
        border-radius: 34px;
        border: solid 2px $border-color;


        .bar {
          top: 0;
          display: inline-block;
          border-radius: 34px;
        }
  
        .pct {
          position: absolute;
          top: -22px;
          right: 0;
          opacity: 0;
          transition: opacity 0.3s linear;
          
        }
      }
    }   
  }


  //INTERESTING

  .interest h3{
    margin: 0.8em 0;
  }

  .interest img{
    width: 4.5em;
  }


  //CERTIFICATION
  .certification{
    img{
      width:  10em; 
      height: 14em;
    }

    .opa{
      padding-top: 1em;
      display: inline-block;
    }

    .opa:hover{
      opacity: 0.5;
      transition: 0.5s;
    }
      
  }
 
  //CONTACT

  .contact{
    text-align: left;
    padding-left: 10%;
    margin: 0.8em 0;

    a{
      text-decoration: none;
      color:$titles-color;
      font-size: 2em;
      font-weight: bolder;
      line-height: 1.25em;
    }

    & a:hover,
      a:active{
      color: lighten( $titles-color ,$amount: 15%);
      font-size: 2.2em;
    }

}

//OVERLAY 

#overlay{
	background: rgba(0, 0, 0, .5);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 20;

  img{
    margin-top: 2%;
    max-width: 43.75em;
    height: auto;
  }

}