//BOTTOM


  //SKILLS

  #skills {
    margin: 0 auto;
    max-width: 60em;
  
    h3{
      text-align: left;
      padding-left: 1em;
      font-size: 1.8em;
    }

    li {
      position: relative;
      margin-bottom: 3.75em;
      padding-left: .375em;
  
      .bar-cont,
      .bar {  
        position: absolute;
        left: 0; 
        content: "";
        padding: 1em .2em;
        border-radius: 2.125em;
      }
  
      .bar-cont {
        bottom: -3.125em;
        width: 100%;
        background-color: #333;
        text-align: right;
        border: solid 0.125em $border-color;

        .bar {
          top: 0;
          display: inline-block;
        }
  
        .pct {
          position: absolute;
          top: -1.375em;
          right: 0;
          opacity: 0;
          transition: opacity 0.3s linear;
          font-weight: 600;
          font-size: 1.15em;
        }

      }

    }  

  }


  //INTERESTING

  .interest h3{
    margin: 0.8em 0;
  }

  .interest img{
    width: 4.5em;
  }


  //CERTIFICATION

  .certification{
    img{
      width:  10em; 
      height: 14em;
    }

    .opa{
      padding-top: 1em;
      display: inline-block;
    }

    .opa:hover{
      opacity: 0.5;
      transition: 0.5s;
    }
      
  }

  //Overlay

  #overlay{
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;

    img{
      margin-top: 2%;
      max-width: 33%;
      height: auto;
    }

  }
  
  //CONTACT

  .contact{
    text-align: left;
    padding-left: 10%;
    margin: 0.8em 0;

    a{
      text-decoration: none;
      color:$titles-color;
      font-size: 2em;
      font-weight: bolder;
      line-height: 1.25em;
    }

    & a:hover,
      a:active{
      color: lighten( $titles-color ,$amount: 15%);
      font-size: 2.2em;
    }

}

