
.skill-set{
  h3{
    text-align: left;
    margin-left: 3em;
  }
}
.skillbar {
  position: relative;
  display: block;
  background: $bar-b-color;

  width: 95%;
  margin-bottom: 0.9375em;
  height: 2.1875em;

  border-radius: 1.875em;
  border: solid $border-color;

  transition: 0.4s linear;
  transition-property: width, background-color;
}

.skillbar-bar {
  height: 2.1875em;
  width: 0;

  border-radius :1.875em;
}

.skill-bar-percent {
  position:absolute;
  right: 0.625em;
  top: 0;
  height: 2.1875em;
  
  font-size: $small-size;
  line-height: 1.8875em;
}