//CONTACT

  .contact{
    text-align: left;
    padding-left: 10%;
    margin: 0.8em 0;

    a{
      text-decoration: none;
      color:$titles-color;
      font-size: 2em;
      font-weight: bolder;
      line-height: 1.25em;
    }

    & a:hover,
      a:active{
      color: $hover-t-color;
      
      background-color: $buble-b-color;

      padding: 0.1em 0.5em;
      border-radius: 1em;
    }

}