//GLOBAL

body{ 
    color: $text-color;
    background-color: $body-b-color;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.29em;
    letter-spacing: 0.03em;


    -webkit-font-smoothing: antialiased;
    text-align: center;
  }

  h3{
    margin: 0.8em 0;
    font-size: $small-size;
    font-weight: $medium-weight;
  }

  p{
    font-size: $small-size;
    font-weight: $small-weight;
  }

  .container{
    max-width: 55%;
    margin:  0 auto;
  }

  .line{
    color: $titles-color;
    font-size: $big-size;
    font-weight: $big-weight;
    padding: 1em 0;
    display: flex;
    flex-direction: row;

    &:after {
        content: "";
        flex: 1;
        border-bottom:  $border-color solid;
        margin: auto;
      }

  }

