//GRID

  //TOP-GRID-AREA
  #top-grid {

    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-template-rows: repeat(1, 2fr);
    align-items: center;

      .grid-initials  { grid-area: 1 / 1 / 3 / 2;}
      .buble          { grid-area: 1 / 2 / 2 / 3;}
      .set-icones     { grid-area: 2 / 2 / 3 / 3;}
    }
    
      .set-icones ul{

        display: grid;
        grid-gap: 1em;
        
          .hi         { grid-area: 1 / 1 / 2 / 2; }
          .frendly    { grid-area: 1 / 2 / 2 / 3; }
          .motivation { grid-area: 1 / 3 / 2 / 4; }
          .joke       { grid-area: 1 / 4 / 2 / 5; }
          .drive      { grid-area: 2 / 1 / 3 / 2; }
          .flegma     { grid-area: 2 / 2 / 3 / 3; }
          .creative   { grid-area: 2 / 3 / 3 / 4; }
          .bye        { grid-area: 2 / 4 / 3 / 5; }
      }

 //BOT-GRID-AREA

 #bot-grid {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2em;
  
  padding-bottom: 2em;
  }

    .skill-set          { grid-area: 1 / 1 / 3 / 2;}
    .interest-set       { grid-area: 1 / 2 / 2 / 3;}
    .certification-set  { grid-area: 1 / 3 / 2 / 4;}
    .contact-set        { grid-area: 2 / 2 / 3 / 4;}

  .interest{

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }



