 //Inicials
 
 .circle{
    background-color: rgb(101, 202, 255);

    width: 11.3em;
    height: 9.8em; 
    margin-left: 1.78125em;
    border-radius: 50%;
    border: $border-color solid;

    img{
      width: 11.375em;
      height: 11.375em;

      position: relative;
      top: -38%;
    }
  }



  .name{
    font-size: 3.5em;
    font-weight: bold;
    text-transform: uppercase;
    color: $titles-color;
    line-height: 0.825em;
    padding-top: 0.5em;
  }

  .dat{
    padding-top: 0.5em;
    color: rgba(0, 0, 0, 0.61);
    font-size: 1em;
    font-weight: 800;
  }

  .code{
    padding-top: 0.85em;
    color: rgba(0, 0, 0, 0.61) ;
  }