//QUERIES

@media (max-width: 115.625em){ 

    .container{max-width: 70%;}

    #bot-grid {

        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1.5em;
        }
        
        .skill-set          { grid-area: 1 / 1 / 2 / 3;}
        .interest-set       { grid-area: 2 / 1 / 3 / 2;}
        .certification-set  { grid-area: 2 / 2 / 3 / 3;}
        .contact-set        { grid-area: 3 / 1 / 4 / 3;}
}

/////////////////////////////////////////////////////////////////////////////////

@media (max-width: 106.25em){ 

    .container{max-width: 80%;}
  
    #top-grid {
        
        .grid-initials  { grid-area: 1 / 1 / 2 / 2; }
        .buble          { grid-area: 2 / 1 / 3 / 2; }
        .set-icones     { grid-area: 3 / 1 / 4 / 2; }
    }

    .avatar{

        margin-top: 3em;
    }

    .buble{

        border-radius: 1em;
        max-width: 80%;
        margin: 2em 10%;
    }

    #bot-grid{

        #overlay img {

            margin-top: 2%;
            max-width: 35%;
        }
    }
}

/////////////////////////////////////////////////////////////////////////////////

@media (max-width: 78.125em){

    #bot-grid {

        grid-template-columns: repeat(3, 1fr);
        }
    
        .skill-set          { grid-area: 1 / 1 / 2 / 4; }
        .interest-set       { grid-area: 2 / 1 / 3 / 4; }
        .certification-set  { grid-area: 3 / 1 / 4 / 4; }
        .contact-set        { grid-area: 4 / 1 / 5 / 4; }

        #overlay img {

            margin-top: 4%;
            max-width: 50%;
        }   
    }

/////////////////////////////////////////////////////////////////////////////////

@media (max-width: 51.25em){

    .container{

        max-width: 90%;
    }

    .icones li:first-child,
    .icones li:last-child{

        display:none;
    }

    .box .box-content {

        width: 9.55em;
        left: -3.6125em;
        padding: 0.3375em;
    }

    .box-top .box-content {

        margin-top: 3em;
    }

    .box-top-r .box-content {

        margin-top: 4.25em;
    }

    .contact{

        a{

          font-size: $small-size;
        }
    }

    #bot-grid{
        #overlay img {

            margin-top: 8%;
            max-width: 80%;
        }
    }
}

/////////////////////////////////////////////////////////////////////////////////

@media (max-width: 34.375em){

    .container{

        max-width: 95%;
    }

    .set-icones ul{

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 3.4375em;
        
        
        .frendly { grid-area: 1 / 1 / 2 / 2; }
        .motivation { grid-area: 1 / 2 / 2 / 3; }
        .joke { grid-area: 2 / 1 / 3 / 2; }
        .drive { grid-area: 2 / 2 / 3 / 3; }
        .flegma { grid-area: 3 / 1 / 4 / 2; }
        .creative { grid-area: 3 / 2 / 4 / 3; }
    }

    .timeline-wrapper {

        height: 19.75em;
       
        .middle-line{

            top:52%;
        }

        .box {

            min-height: 19.75em;
    
            .box-content {

                width: 8.55em;
                left: -3.0125em;
                padding: 0.4em;
            }

            .date{

                top:52%;
            }

            .box-top-r{

                top: 13%;
                left: -7%;
                width: 61%;
            }
        }
    }

    #skills li .bar-cont {

        width: 98%;
    }

    .contact{

        a{
            font-size: $smaller-size;
        }

        i{
             display: none;
        }
    }

    #overlay img {
        
        margin-top: 30%;
        max-width: 86%;
    }

}   

/////////////////////////////////////////////////////////////////////////////////

@media (max-width: 30em){

    #overlay img {

        margin-top: 20%;
        max-width: 80%;
    }
}