 //TIME LINE

  .timeline-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 18.75em;
  
      .middle-line {
        position: absolute;
        width: 100%;
        height: 0.3125em;
        top: 50%;
        transform: translateY(-50%);
        background: $border-color;
      }
    }

    .box {
      width: 21%;
      position: relative;
      min-height: 18.75em;
      float: right;
  
      .date {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 3.125em;
        height: 3.125em;
        border-radius: 100%;
        background: $titles-color;
        border: 0.125em solid $border-color ;
      }
  
      .date p {
        color: white;
        margin-top: 0.85em;
      }
  
      .box-content {
        border-radius: 0.3125em;
        background-color: $buble-b-color;
        width: 11.25em;
        position: absolute;
        left: -5em;
        padding: 0.9375em;
        border: 0.125em solid $border-color;
      }
      .box-top-r{
        top: 7%;
      }
    }
    
    .box-content::before {
      content: " ";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      border: 0.625em solid transparent; 
    }
  
    .box-bottom .box-content {
      top: 65%;
      
      &::before {
        border-bottom-color: $border-color;
        top: -1.25em;
      }
    }
  
    .box-top .box-content{
      margin-top: 2em;
  
      &::before {
        border-top-color: $border-color;
        bottom: -1.25em;
      }
    }

