 //Initials
 
 .circle{
    background-color: $circle-color;

    width: 11.3em;
    height: 9.8em; 

    border-radius: 50%;
    border: $border-color solid;

    img{
      width: 11.375em;
      height: 11.375em;

      position: relative;
      top: -38%;
    }
  }

  .name{
    font-size: $bigest-size;
    font-weight: $big-weight;
    text-transform: uppercase;
    color: $titles-color;
    line-height: 0.825em;
    padding-top: 0.5em;
  }

  .dat{
    padding-top: 0.5em;
    color: rgba(0, 0, 0, 0.61);
    font-size: $small-size;
    font-weight: $big-weight;
  }

  .code{
    padding-top: 0.85em;
    color: rgba(0, 0, 0, 0.61) ;
  }