 //Initials
 .avatar{

  display: flex;
  justify-content: center;
  align-items: center;

  .circle{

    background-color: $circle-color;

    width: 11.3em;
    height: 9.8em; 

    border-radius: 50%;
    border: $border-color solid;

    img{ 

      width: 11.375em;
      height: 11.375em;

      position: relative;
      top: -38%;
    }
  }
 }
 

  .name{ 

    font-size: $bigest-size;
    font-weight: $big-weight;
    text-transform: uppercase;
    color: $titles-color;
    line-height: 0.825em;

    padding-top: 0.5em;

    h1{

      text-shadow: -.05em .05em .3125em darken($color: $shadow-color, $amount: 100%);
    }
    
  }

  .dat{

    padding-top: 0.5em;

    color: #0000009c;
    font-size: $small-size;
    font-weight: $big-weight;
  } 

  .code{

    padding-top: 0.85em;
    
    color: #0000009c ;

    p{ 

   

      &:before{

      content: attr(data-text);
      position: absolute;

      transform-origin: bottom;
      transform: rotateX(180deg);

      line-height: 0.96em;
      }
  
    }


  }



  