//*VARIABLES*//


//color
    $body-b-color:  #e3b765b0;

    $titles-color:  #3f69e1; 
    $text-color:    #154659;

    $border-color:  #3d3a3aaf;

    $circle-color:  #387234bf;

    $buble-b-color: #ef521a7d;
    $shadow-color:  #635e5e2f;

    $bar-b-color:   rgba(51, 51, 51, 0.877);
    $overlay-color: #00000080;



    $hover-t-color: #ffffffd2;






$Similar: #BF454F;
$Similar: #223773;
$Similar: #154659;
$Similar: #A6813C;
$Similar: #D95E32;


//Font

    //size

    $smaller-size:0,8em;
    $small-size:1.2em;
    $normal-size:1.5em;
    $big-size:1.8em;
    $bigest-size:3.5em;

    //weight

    $small-weight:300;
    $medium-weight:600;
    $big-weight:800;

    








