//*VARIABLES*//


//color
    $body-b-color:  #2e8c8356;
    $titles-color:  #117256; 
    $text-color:    #494242;
    $border-color:  #175073;
    $circle-color:  #65caff;


    $buble-b-color: #D9525E;
    $shadow-color:  #635e5e2f;

    $bar-b-color:   #333;
    $overlay-color: #00000080;



    $hover-t-color: #ffffffd2;


    //Font
    
    $smaller-size:0,8em;
    $small-size:1.2em;
    $normal-size:1.5em;
    $big-size:1.8em;
    $bigest-size:3.5em;


    $small-weight:300;
    $medium-weight:600;
    $big-weight:800;

    








